<% if @sliders.empty? %>
  <% if  user_signed_in? %>
    <%= empty_state("Aún no hay portadas, intenta más tarde.") do %>
      <div class="text-center my-4">
        <%= link_to "Nueva portada", new_slider_path, class: "text-white btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render @sliders %>

<div class="col-12 my-4">
  <%= paginate @sliders %>
</div>
