<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link #{controller_name == 'pages' ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
            <%= link_to "Productos", items_path, class: "nav-link #{controller_name == 'items' ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Serivices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
        <% if user_signed_in? %>
        <div class="dropdown-divider mt-4"></div>
        <li class="nav-item">
          <%= link_to "Sliders", sliders_path, class: "nav-link #{controller_name == 'sliders' ? 'active' : ''}" %>
        </li>
        <% end %>
    </ul>
</nav>
