<div class="col-3 itemCard">
  <div class="card">
    <img class="card-img-top" src="https://placehold.it/130x130" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        <%= item.title %>
      </p>
      <span class="text-info">
        $<%= item.price %> MXN
      </span>
    </div>
  </div>
</div>