<div id="landing-slider" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @sliders.each_with_index do |slider, index| %>
      <li 
        data-target="landing-slider" 
        data-slide-to="<%= index %>" 
        class="<%= index == 0 ? 'active' : '' %>"
      >
      </li>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% @sliders.each_with_index do |slider, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <img 
          class="d-block w-100" 
          src="http://via.placeholder.com/800x400?auto=yes&bg=777&fg=555&text=First slide" 
          alt="First slide"
          height="350px"
        >
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="landing-slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  
  <a class="carousel-control-next" href="landing-slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>