<div id="landing-slider" class="carousel slide carousel-fade mb-3" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @sliders.each_with_index do |slider, index| %>
      <li
        data-target="#landing-slider"
        data-slide-to="<%= index %>"
        class="<%= index == 0 ? 'active' : '' %>"
      >
      </li>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% @sliders.each_with_index do |slider, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <% if slider.image.attached?%>
          <%= image_tag slider.image, class: "d-block w-100",  height: "400px" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#landing-slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>

  <a class="carousel-control-next" href="#landing-slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
