<div class="col-12 col-xl-11 mx-auto">
  <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-xl-6 mb-4">
        <h5 class="text-dark">
          Dirección
        </h5>

        <address class="lead">
          <p class="text-secondary">
            Isabel la Católica #1, Colonia Centro, Tlaxiaco, Oaxaca, CP: 69800
          </p>
        </address>

        <h5 class="text-dark">
          Teléfono
        </h5>

        <dl class="text-secondary">
          <li>(044) 953 552 20 37</li>
          <li>(045) 953 552 20 37</li>
        </dl>

        <span style="font-size: 3em;">
          <a href="https://www.facebook.com/ciber.centro.372?ref=br_tf" class="fab fa-facebook no-decoration" style="color:#3B5998" target="_blank"></a>
        </span>
      </div>

      <div class="col-12 col-xl-6">
        <iframe
          class="border-0"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3809.9825551438985!2d-97.6815283!3d17.2680789!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c62ec3ec94460f%3A0x6fedf5e9ca998738!2sCibercentro!5e0!3m2!1ses-419!2smx!4v1534796084090"
          width="100%"
          height="450"
          frameborder="0"
          allowfullscreen
          >
        </iframe>
      </div>
    </div>
  </div>
</div>
