<% if @sliders.any? %>
  <%= render "slider" %>
<% end %>

<% if @items.any? %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center border-bottom mb-2">
          <h4 class="mr-auto">Nombre de la categoría</h4>
          <%= link_to "Ver más", items_path, class: "text-dark" %>
        </div>
      </div>
    </div>

    <div class="row">
        <%= render partial: "pages/item", collection: @items %>
    </div>
  </div>
<% end %>

<% if @sliders.empty? && @items.empty? %>
  <%= render "items/empty_state" %>
<% end %>

