<%= render "slider" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-right text-success"><%= link_to "Ver más", items_path %></p>
    </div>
  </div>

  <div class="row">
      <%= render partial: "item", collection: @items %>
  </div>
</div>