.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  padding-left: -220px;
  transition: padding-left 0.3s;
}

@include media-breakpoint-up(xl) {
  .wrapper {
    padding-left: 220px;
  }
}

.horizontal-nav {
  margin-left: 0;
  transition: margin-left 0.3s;
}

@include media-breakpoint-up(xl) {
  .horizontal-nav {
    margin-left: 220px;
  }
}

.wrapper-collapsed {
  padding-left: 0;
}

.content-wrapper {
  margin-top: 56px;
  width: 100%;
}

@include media-breakpoint-up(lg) {
  .content-wrapper {
    margin-top: 70px;
  }
}

@include media-breakpoint-up(xl) {
  .content-wrapper {
    margin-top: 56px;
  }
}

.toggler-wrapper {
  position: relative;

  .toggler {
    background: rgba(0, 0, 0, 0.04);
    color: $gray-600;
    cursor: pointer;
    left: 0;
    padding: ($spacer * 0.5) $spacer;
    position: absolute;
    top: 0;
    z-index: $zindex-dropdown;

    &:hover {
      background: rgba(0, 0, 0, 0.8);
      color: white;
    }
  }
}
