.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  padding-left: -220px;
  transition: padding-left 0.3s;
}

@include media-breakpoint-up(xl) {
  .wrapper {
    padding-left: 220px;
  }
}

.horizontal-nav {
  margin-left: 0;
  transition: margin-left 0.3s;
}

@include media-breakpoint-up(xl) {
  .horizontal-nav {
    margin-left: 220px;
  }
}

.content-wrapper {
  margin-top: 56px;
  width: 100%;
}

@include media-breakpoint-up(lg) {
  .content-wrapper {
    margin-top: 70px;
  }
}

@include media-breakpoint-up(xl) {
  .content-wrapper {
    margin-top: 56px;
  }
}
