.footer {
  background-color: white;
  margin-top: 12px;
  padding: 32px 12px 32px 12px;
  font-size: 14px;

  .copyright {
    color: #b1b1b1;

    a {
      color: #b1b1b1;
    }
  }

  .powered {
    color: #9e9e9e;
  }

  .company {
    color: #212121;
  }
}
