@import "typografy";
@import "nav";
@import "footer";

body {
  padding-top: 0px;
}
 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}