@import '~bootstrap/scss/bootstrap';
@import 'typografy';
@import 'sidebar';
@import 'footer';

html,
body {
  height: 100%;
}

body > .container-fluid,
body > .container-fluid > .row {
  height: 100%;
}

.wrapper {
  display: flex;
  flex: 1;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
  }

  .footer {
    flex-shrink: 0;
  }
}

.app {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.octicon {
  fill: currentColor;
}

.alert-notice {
  @extend .alert-success;
}

.alert-error,
.alert-alert {
  @extend .alert-danger;
}

.navbar-default {
  background-color: $white;

  .navbar-brand {
    color: $gray-900;
    font-weight: $font-weight-bold;
  }
}

.alert {
  margin-bottom: 0px !important;
}
