<% if @items.any? %>
  <h1>Productos</h1>

  <div class="row">
    <%= render @items %>
  </div>

  <%= paginate @items %>

  <% else %>
    <div class="offset-3 col-6">
      <div class="shadow-sm p-3 mb-5 bg-white rounded mt-5">
        <div class="text-center">
          <%= octicon "rocket", height: 120, class: "text-secondary" %>
        </div>

        <h4 class="text-center lead m-4">Aún no hay productos, intenta más tarde.</h4>

        <% if policy(Item).new? %>
          <div class="text-center my-4">
            <button type="button" class="btn btn-primary">
              <%= link_to 'Nuevo producto', new_item_path, class: "text-white" %>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
