<% is_searching = params[:query].present? %>

<% if is_searching || @items.length > 0 %>
  <% if is_searching  %>
    <%= render "searching" %>
  <% else %>
    <%= render "idle" %>
  <% end %>
<% else %>
  <%= empty_state("Aún no hay productos, intenta más tarde.") do %>
     <% if policy(Item).new? %>
        <div class="text-center my-4">
          <%= link_to "Nuevo producto", new_item_path, class: "text-white btn btn-primary" %>
        </div>
      <% end %>
  <% end  %>
<% end %>
