<% if @items.any? %>
  <div class="col-12">
    <h1>Productos</h1>
  </div>

  <%= render @items %>

  <div class="col-12">
    <%= paginate @items %>
  </div>
<% else %>
  <%= render "empty_state" %>
<% end %>
