<div class="col-12 col-md-10 col-xl-6 mx-auto bg-white pt-3">
  <h4 class="mb-4 border-bottom">
    <% if @category.persisted? %>
      Actualizar categoría
    <% else %>
      Nueva categoría
    <% end %>
  </h4>
</div>

<div class="w-100 d-none d-xl-block"></div>

<div class="col-12 col-md-10 col-xl-6 mx-auto bg-white pb-4">
  <%= simple_form_for(@category) do |f| %>
    <%= f.input :name %>

    <%= f.button :submit, class: "btn-primary" %>
    <%= link_to "Regresar", categories_path, class: "text-dark btn btn-link" %>
  <% end %>
</div>
