<div class="col-12">
  <nav class="navbar navbar-light bg-light shadow-sm mb-4">
    <a class="navbar-brand m-0 text-secondary">
      <%= octicon "file-submodule", height: "30", class: "mx-4" %>
      Categorías
    </a>
  </nav>
</div>

<div class="col-8 mt-2 mx-auto text-right">
  <%= link_to "Nueva Categoría", new_category_path, class: "btn btn-success btn-sm" %>
</div>

<div class="col-8 mt-4 mx-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" colspan="3">Nombre</th>
      </tr>
    </thead>

    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
</div>

<div class="col-12 my-4">
  <%= paginate @categories %>
</div>
